body{
  background-color: #D7F2BA;
}
p{
  color: #829B78;
  font-size: 200%;
}
h2{
  color: #676F54;
  font-size: 275%;
  letter-spacing: 5px;
  text-decoration: underline;
}
img{
  border: dotted #ADD5A2 5px;
  height: 25%;
  width: 25%;
}
ul{
  list-style-type: none;
  text-align: left;
  position: fixed;
}
li{
  float: left;
}
li a{
  padding:25px;
  font-family:"Comic Sans", Fantasy;
  color: #87A878;
  border-style: solid;
  border-color: #FFFFFF;
  text-decoration-line: none;
}
li a:hover{
  background-color: black;
  color: white;
}               
